* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: white; 
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

.cabecalho .logo {
    font-size: 30px;
    font-weight: bold;
    color: #0099aa;
}

.cabecalho nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #008ca8;

}

.btn-entrar {
    padding: 10px 16px;
    border: 1px solid #00a2c6;
    background: none;
    color: #00a2c6;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    height: auto;
    width: auto;
    }

    .btn-entrar:hover {
    background-color: #0099aa;
    color: white;
    }

main {
    padding: 40px;
    max-width: 700px;
    margin: auto;
    background: #f7f6f6 ;
    border-radius: 8px;

    margin-top: 120px;
    margin-bottom: 50px;
}

h2{
    text-align: center;
    margin-bottom: 30px;
    display: inline-block;
    padding-bottom: 10px;
    font-weight: normal;
    margin: 1px

}

    
button {
    border: 1px solid #00a2c6;
    color: #00a2c6;
    padding: 12px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    width: 200px;
    justify-self: center;
    grid-column: span 2;
}

button:hover{
    background-color: #05656f;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}



hr{
    font-weight: normal;
    border: none; 
    border-top: 2px solid #0099aa;
    padding: 5px;
}

form {
    max-width: 700px;
    margin: auto;
    gap: 10px;
}

.form-row {
  
  gap: 10px;
  margin-bottom: 10px;
}

.form-row:nth-child(2) { /* linha do email */
  flex-direction: column;
}

.form-group {
  flex: 1; /* Para que os campos ocupem igualmente o espaço na linha */
}

.form-row:nth-child(2) .form-group {
  flex: none;
  width: 100%;
}



form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}


form input,
form select,
form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 100px;
    grid-column: span 2; 
}


input[name="nome"],
input[name="telefone"] {
    grid-column: span 1; 
}

input[name="email"] {
    grid-column: span 2; 
}

input[name="cpf"],
select[name="medico"],
select[name="procedimento"] {
    grid-column: span 1;
}

.mensagem-sucesso {
  color: black;
  margin-top: 20px;
  font-weight: 500;
  text-align: center;
  grid-column: span 2
}

form button {
  display: block;       /* Faz o botão ocupar só o necessário, não 100% */
  margin: 20px auto 0;  /* Centraliza horizontalmente, com margem superior */
  padding: 12px;
  border: 1px solid #00a2c6;
  color: #00a2c6;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Footer */
.footer {
  background: #ededed;
  padding-top: 60px;
}

.footer-content {
  gap: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  
}

.footer-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.footer-text .logo{
    font-size: 30px;
    font-weight: bold;
    color: #0099aa;
}

.footer-text h2{
  font-size: 30px;
  color: #009999;
}

.social-icons i {
  color: #0099aa;
  font-size: 20px;
}

.footer-column {
  flex: 1 1 300px;
}


.footer-columns{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.footer-column h3 {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #666;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #666;
}

.footer-column p {
  text-decoration: none;
  color: #666;
  margin-bottom: 8px;
}

.footer-bottom {
  padding: 20px 0;
  text-align: center;
  color: #666;
}

.footer-bottom-content {
  margin-top: 50px;
  text-align: right;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.social-icons a {
  margin: 0 8px;
}

.social-icons img {
  width: 20px;
  height: 20px;
}



  
  /* Responsividade da apresentação */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .hero-content {
        max-width: 100%;
    }
    
    .navbar {
        gap: 10px;
    }
}
