{% load static %}
{% load data_tags %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title>Oftalmo+</title>

    <link rel="website icon" type="png" href="../static/images/icon.png">

    <!-- LINK DO CSS -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    
</head>
<body>
    <header class="header">
        <div class="logo">Oftalmo+</div>
        <nav class="navbar">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'procedimentos' %}">Serviços</a>
            <a href="{% url 'medicos' %}">Médicos</a>
            <a href="{% url 'admin:index' %}" class="btn-entrar">Entrar</a>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-content">
            <h1>Veja o mundo com clareza, <br> viva cada detalhe com saúde!</h1>
            <p>Na Oftalmo+, cuidamos da sua saúde ocular com tecnologia de ponta, profissionais experientes e atendimento humanizado. Aqui, cada detalhe importa — desde a sua primeira consulta até o acompanhamento completo da sua visão.</p>
            <div class="hero-buttons">
                <button class="btn-agendar" onclick="window.location.href='{% url 'formularioConsulta' %}'">Agendar Consulta</button>
                <button class="btn-sobre">Quem Somos</button>
            </div>
        </div>
        <div class="hero-image"></div>
    </section>

    <section class="sobre">
        <div class="container">
            <div class="texto">
                <h3>Institucional</h3>
                <h2>Clínica Oftalmológica Oftalmo+</h2>
                <hr>
                <p>

                    A Clínica Oftalmo+ foi fundada com o compromisso de oferecer um atendimento oftalmológico de excelência, pautado em alta tecnologia e no cuidado integral com o paciente. Desde sua origem, a clínica tem como missão proporcionar o melhor para o diagnóstico preciso e o tratamento atualizado com equipe médica altamente qualificada.
                </p>
                <p>
                    Nosso foco está na melhoria contínua, na confiança e na segurança de cada procedimento realizado.
                </p>
                <p>
                    Com estrutura moderna e equipamentos de última geração, a Oftalmo+ oferece exames em todas as fases da vida, atendendo desde consultas de rotina até procedimentos cirúrgicos especializados.
                </p>
            </div>
            <div class="imagens">
                <div class="imagens-flex">
                    <img src="../static/images/image 1.png" alt="Equipe Oftalmológica">
                    <img src="../static/images/image 2.png" alt="Equipe Oftalmológica">
                </div>
                <img src="../static/images/image 3.png" alt="Equipe Oftalmológica">
            </div>
        </div>
    </section>
    
    <section class="especialidades">
        <div class="container">
            <div class="titulo-especialidades">
                <div class="titulo-flex">
                    <div>
                        <h3>Especialidades</h3>
                        <h2>Procedimentos que realizamos</h2>
                        
                    </div>
                    
                    <a href="{% url 'procedimentos' %}" class="btn-ver-mais">Ver mais</a>  
                </div>
            
                <hr>
            </div>
            
    
            <!-- templates/home.html -->
            <div class="cards">
                {% if procedimentos_destaque %}
                {% for procedimento in procedimentos_destaque %}
                    <div class="card">
                    <img src="{{ procedimento.foto.url }}" alt="{{ procedimento.nome }}">
                    <div class="card-text">
                        <h4>{{ procedimento.nome }}</h4>
                        <p>{{ procedimento.descricao|truncatechars:100 }}</p>
                        <a href="{% url 'perfilProcedimento' procedimento.nome %}">leia mais →</a>
                    </div>
                    </div>
                {% endfor %}
                {% else %}
                <div class="alert">
                    Nenhum procedimento em destaque configurado pelo administrador.
                </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="faq-section">
        <h2>Dúvidas Frequentes</h2>
        <hr>
        <div class="faq-item">
          <button class="faq-question">
            É possível agendar consulta online?
            <i class="bi bi-chevron-down icon"></i>
        </button>
          <div class="faq-answer">
            <p>Sim, é possível agendar sua consulta online de forma rápida e segura. Basta preencher nosso formulário digital.</p>
          </div>
        </div>
      
        <div class="faq-item">
          <button class="faq-question">
            A clínica atende por convênio?
            <i class="bi bi-chevron-down icon"></i>
        </button>
          <div class="faq-answer">
            <p>Sim, a clínica atende diversos convênios. Consulte a lista completa ou entre em contato.</p>
          </div>
        </div>
      
        <div class="faq-item">
          <button class="faq-question">
            Quanto tempo dura uma consulta oftalmológica?
            <i class="bi bi-chevron-down icon"></i>
        </button>
          <div class="faq-answer">
            <p>Em média, uma consulta oftalmológica dura de 30 a 45 minutos.</p>
          </div>
        </div>
      
        <div class="faq-item">
          <button class="faq-question">
            Crianças também podem ser atendidas?
            <i class="bi bi-chevron-down icon"></i>
        </button>
          <div class="faq-answer">
            <p>Sim, atendemos crianças de todas as idades.</p>
          </div>
        </div>
      
        <div class="faq-item">
          <button class="faq-question">
            Após a cirurgia de catarata, quanto tempo leva para recuperar a visão?
            <i class="bi bi-chevron-down icon"></i>
        </button>
          <div class="faq-answer">
            <p>A recuperação pode levar de alguns dias a algumas semanas, dependendo do paciente.</p>
          </div>
        </div>
    </section>

    <script src="../static/js/home.js"></script>
    
    <section class="equipe" id="equipe">
        <div class="container">
            <div class="equipe-header">
                <div class="texto-equipe">
                    <h4>Equipe</h4>
                    <h1>Conheça nossa equipe dedicada de Oftalmologia</h1>
                </div>
                <a href="{% url 'medicos' %}" class="btn-ver-mais">Ver mais</a>
                
                
            </div>

            <hr>
    
            <div class="cards-equipe">
                {% for medico in medicos_destaque %}
                <a href="{% url 'perfilMedico' medico.nome %}" class="card-equipe" style="text-decoration: none; color: inherit;">
                    <img src="{{ medico.foto.url }}" alt="{{ medico.nome }}" style="max-width: 250px; max-height: 300px; width: auto; height: auto; object-fit: contain;">
                    <h3>{{ medico.nome }}</h3>
                    <p>{{ medico.especialidades }}</p>
                </a>
                {% empty %}
                <div class="alert">
                    Nenhum médico em destaque configurado
                </div>
                {% endfor %}
            </div>

        </div>
    </section>
    
    <footer class="footer">
        <div class="container footer-content">
            <div class="footer-top">
                <div class="footer-text">
                    <h2>Oftalmo+</h2>
                    <div class="social-icons">
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                    </div>
                </div>
                <hr>
            </div>
            

            <div class="footer-columns">
                <div class="footer-column">
                    <h3>Informações de contato</h3>
                    <p><strong>Endereço:</strong> Rua Exemplo, 123 - Centro, Cidade/UF</p>
                    <p><strong>Telefone:</strong> (xx) xxxx-xxxx</p>
                    <p><strong>WhatsApp:</strong> (xx) xxxxx-xxxx</p>
                    <p><strong>Email:</strong> contato@oftalmomais.com</p>
                </div>
        
                <div class="footer-column">
                    <h3>Horário de atendimento</h3>
                    <p>Segunda a Sexta 08h às 18h</p>
                    <p>Sábados 08h às 12h</p>
                </div>
        
                <div class="footer-column">
                    <h3>Links úteis</h3>
                    <ul>
                        <li><a href="#">Quem Somos</a></li>
                        <li><a href="#">Especialidades</a></li>
                        <li><a href="#">Agendar Consulta</a></li>
                        <li><a href="#">Convênios</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </div>
                
            </div>

            
    
        <div class="footer-bottom">
            <div class="container footer-bottom-content">
                <p>© 2025 Clínica Oftalmo+. Todos os direitos reservados.</p>
            </div>
        </div>
    </footer>
    
</body>
</html>
